
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application | YIELD</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>
	<div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Yield Application</li>
          <li><a href="/admin/contacts/message/">Messages</a></li>
          <li><a href="/admin/contacts/personne/">Contacts</a></li>
          <li><a href="/admin/contacts/envoi/">Envois</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="menu-text"><a href="/admin/">Administration</a></li>
        </ul>
      </div>
    </div>

     <div class="callout large">
      <div class="row column text-center">
        <a href="#" class="button large">Charger fiche des contacts</a>
        <!-- <a href="#" class="button large hollow">Learn Less</a> -->
      </div>
    </div>
    
   
</body>
</html>

